.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#body {
  background-color: rgb(85, 17, 17);
  padding: 2em;
}

#markup{
  background-color: aliceblue;
  max-width: 80vw;
  width: 60vw;
  margin:auto;
  padding: 2em;
  border-radius: 5%;
  box-shadow: 1px 2px 25px 4px black;
}

#previewContainer{
  background-color: aliceblue;
  max-width: 80vw;
  margin:auto;
  margin-top: 5em;
  padding: 2em;
  border-radius: 5%;
  box-shadow: 1px 2px 25px 4px black;
}

textarea{
  width: 50vw;
  height: 20vw;
  box-shadow: 1px 2px 10px 2px rgba(138, 138, 228, 0.473);
}

#preview{
  width: 70vw;
  margin: auto;
  border: 1px solid black;
  padding: 1rem;
  text-align: left;
}

code{
  background-color: rgb(153, 224, 9);
}

table, td, th{
  border: 2px solid black;
  text-align: center;
  padding: 5px;
  border-collapse: collapse;
}

img{
  max-width: 70vw;
}